// Mixins Here

.flex(@justify: center; @align: center) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.width-adjust(@width: 100%; @margin: 0 auto;) {
    width: @width;
    margin: @margin;
}

.primary-btn() {
    color: @porcelain;
    background: @ebony-clay;
    width: 70px;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    font-size: 1.2rem;
}